<nav class="navbar navbar-light navbar-bg-red py-3">
  <a class="navbar-brand">
    <img src="../assets/images/logo.png" alt="logo" width="120">
  </a>
</nav>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <select class="custom-select w-25" name="selectedResponsible" [(ngModel)]="selectedResponsible"
        (change)="listarEvaluaciones()">
        <option value="">Seleccione un responsable</option>
        <option value="101">WILBER APCHO MONTES</option>
        <option value="102">JOSE ANTONIO HUALLANCA AYALA</option>
        <option value="103">MERLY EDITH ROSILLO LLACSAHUANGA</option>
      </select>
      <p-button class="ml-3" label="Nuevo" (onClick)="confirmarCrearEvaluacion()"></p-button>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <p-table [paginator]="true" [rows]="10" [value]="data">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center" width="7%">Id</th>
            <th class="text-center">Responsable</th>
            <th class="text-center" width="10%">Estado</th>
            <th class="text-center">Fecha Creacion</th>
            <th class="text-center" width="10%">Usuario Creacion</th>
            <th class="text-center">Fecha/Hora Inicio</th>
            <th class="text-center">Fecha/Hora Fin</th>
            <th class="text-center">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dat>
          <tr>
            <td class="text-center">{{ dat.evaluacionId }}</td>
            <td *ngIf="dat.servidorResponsableId == '101'">WILBER APCHO MONTES</td>
            <td *ngIf="dat.servidorResponsableId == '102'">JOSE ANTONIO HUALLANCA AYALA</td>
            <td *ngIf="dat.servidorResponsableId == '103'">MERLY EDITH ROSILLO LLACSAHUANGA</td>
            <td *ngIf="dat.estadoEvaluacion == 'R'">REGISTRADO</td>
            <td *ngIf="dat.estadoEvaluacion == 'I'">INICIADO</td>
            <td *ngIf="dat.estadoEvaluacion == 'F'">FINALIZADO</td>
            <td class="text-center">{{ dat.fechaCreacion | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{ dat.usuarioCreacion }}</td >
            <td class="text-center">{{ dat.fechaHoraInicio | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td class="text-center">{{ dat.fechaHoraFin | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td class="text-center">
              <button type="button" (click)="verEvaluacion(dat.evaluacionId)" class="pi pi-eye"
                [disabled]="dat.estadoEvaluacion != 'F'" pTooltip="Ver evaluación"></button>
              <button type="button" (click)="confirmarIniciarEvaluacion(dat.evaluacionId)" class="pi pi-play mx-2"
                [disabled]="dat.estadoEvaluacion != 'R'" pTooltip="Iniciar evaluación"></button>
              <button class="pi pi-trash" (click)="confirmarEliminarEvaluacion(dat.evaluacionId)"
                type="button" pTooltip="Eliminar evaluación"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="display" [modal]="true" [style]="{'minWidth': '250px'}">
  <p-header>
    <h5 class="font-weight-bold d-inline-block">Ver Resultados</h5>
  </p-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <div class="card my-3" *ngFor="let dat of data2">
          <div class="card-header">
            <p>{{dat.pregunta}}</p>
          </div>
          <div class="row px-5 py-3">
            <div class="ui-g-12">
              A) <p-radioButton disabled name="{{dat.evaluacionRespuestaId}}" value="10000" label="{{dat.alternativa1}}"
              [(ngModel)]="dat.helper" inputId="alternativa1">
              </p-radioButton>
            </div>
            <div class="ui-g-12">
              B) <p-radioButton disabled name="{{dat.evaluacionRespuestaId}}" value="01000" label="{{dat.alternativa2}}"
                [(ngModel)]="dat.helper" inputId="alternativa2">
              </p-radioButton>
            </div>
            <div class="ui-g-12">
              C) <p-radioButton disabled name="{{dat.evaluacionRespuestaId}}" value="00100" label="{{dat.alternativa3}}"
                [(ngModel)]="dat.helper" inputId="alternativa3">
              </p-radioButton>
            </div>
            <div class="ui-g-12">
              D) <p-radioButton disabled name="{{dat.evaluacionRespuestaId}}" value="00010" label="{{dat.alternativa4}}"
                [(ngModel)]="dat.helper" inputId="alternativa4">
              </p-radioButton>
            </div>
            <div class="ui-g-12">
              E) <p-radioButton disabled name="{{dat.evaluacionRespuestaId}}" value="00001" label="{{dat.alternativa5}}"
                [(ngModel)]="dat.helper" inputId="alternativa5">
              </p-radioButton>
            </div>
          </div>
          <div class="card-footer">
              Respuesta Correcta:
              <li class="d-inline-block" *ngIf="dat.solucion == '10000'">
                A
              </li>
              <li class="d-inline-block" *ngIf="dat.solucion == '01000'">
                B
              </li>
              <li class="d-inline-block" *ngIf="dat.solucion == '00100'">
                C
              </li>
              <li class="d-inline-block" *ngIf="dat.solucion == '00010'">
                D
              </li>
              <li class="d-inline-block" *ngIf="dat.solucion == '00001'">
                E
              </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog header="Rendir Evaluación" [(visible)]="display2" [modal]="true" [closable]="false">
  <p-button label="Finalizar Evaluación" (onClick)="finalizarEvaluacion(evaluacionId)"></p-button>
  <p-dataView [value]="data2">
    <ng-template let-dat pTemplate="listItem">
      <p-panel>
        <p-header>
          {{dat.pregunta}}
        </p-header>
        <div class="ui-g" style="width:250px;margin-bottom:10px">
          <div class="ui-g-12">
            A) <p-radioButton (click)="marcarRespuesta(dat.evaluacionRespuestaId, '10000')"
              name="{{dat.evaluacionRespuestaId}}" value="10000" label="{{dat.alternativa1}}" [(ngModel)]="dat.helper"
              inputId="alternativa1">
            </p-radioButton>
          </div>
          <div class="ui-g-12">
            B) <p-radioButton (click)="marcarRespuesta(dat.evaluacionRespuestaId, '01000')"
              name="{{dat.evaluacionRespuestaId}}" value="01000" label="{{dat.alternativa2}}" [(ngModel)]="dat.helper"
              inputId="alternativa2">
            </p-radioButton>
          </div>
          <div class="ui-g-12">
            C) <p-radioButton (click)="marcarRespuesta(dat.evaluacionRespuestaId, '00100')"
              name="{{dat.evaluacionRespuestaId}}" value="00100" label="{{dat.alternativa3}}" [(ngModel)]="dat.helper"
              inputId="alternativa3">
            </p-radioButton>
          </div>
          <div class="ui-g-12">
            D) <p-radioButton (click)="marcarRespuesta(dat.evaluacionRespuestaId, '00010')"
              name="{{dat.evaluacionRespuestaId}}" value="00010" label="{{dat.alternativa4}}" [(ngModel)]="dat.helper"
              inputId="alternativa4">
            </p-radioButton>
          </div>
          <div class="ui-g-12">
            E) <p-radioButton (click)="marcarRespuesta(dat.evaluacionRespuestaId, '00001')"
              name="{{dat.evaluacionRespuestaId}}" value="00001" label="{{dat.alternativa5}}" [(ngModel)]="dat.helper"
              inputId="alternativa5">
            </p-radioButton>
          </div>
        </div>
      </p-panel>
    </ng-template>
  </p-dataView>
</p-dialog>
<p-confirmDialog #cd header="Confirmación" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-toast></p-toast>