.navbar-bg-red {
    background-color: #A70400;
}

body .ui-dialog .ui-dialog-footer { text-align: center !important; }

body .ui-paginator { background-color: #fff; border: none; margin-top: 3rem; }
